/tailscale-cs
/work_area*
composer.*
/Python*
*.output
/Modgest
/thanos
/vendor
/bkdir
java/
*.exe
*.msi
*.pyc
*.msp
*.msx
msx.py
timm-1.1-1.21.1.jar
enderscape-fabric-2.0.0+mc1.21.1.jar
better-end-21.0.11.jar